/* general css */

* {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
}

body {
  list-style-type: none;
  text-decoration: none;
  max-width: 1080px;
  margin: 0 auto;
}

/* heading */

h1 {
  color: #424949;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.75em;
  border-bottom: 1px solid #424949;
  padding-top: 20px;
  padding-bottom: 15px;
}

div h1 a {
  text-decoration: none;
  color: #424949;
}

/* links section*/

div .link {
  padding: 5px;
}

div #design {
  padding-right: 11px;
  padding-left: 9px;
}

div #contact {
  padding-right: 11px;
  padding-left: 9px;
}

div #programming {
  padding-left: 11px;
  padding-right: 9px;
}

div #about-me {
  padding-left: 11px;
  padding-right: 9px;
}

/*section titles*/

div .link h2 {
  font-size: 1.2em;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #ecf0f1;
  background-color: #1a5276;
  text-align: right;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 20px;
}

div h2 a {
  color: #ecf0f1;
  text-decoration: none;
}

/* sections general */

div p a {
  text-align: right;
  text-decoration: none;
  color: #424949;
}

p {
  padding-top: 8px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  text-align: right;
  color: black;
  font-size: 0.9em;
}

h4 {
  color: #424949;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.5em;
  border-bottom: 1px solid #424949;
  /*padding-top: 20px;*/
  padding-bottom: 15px;
}

/* design section */

div .design {
  padding: 10px;
}

/*about me section*/

div .about-me {
  padding: 10px;
}

div #about {
  padding-bottom: 10px;
}

div .cv-picture {
  background-color: #B0BEC5;
}

div .about-me-contact {
  padding-top: 20px;
}

div .about-me-contact p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.9em;
  line-height: 1em;
}

ul li {
  list-style-type: none;
}

div .experience h5 {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #424949;
}

div .job-description {
  padding: 15px 0;
}

h2 #HeadingOne {
  font-size: 1.2em;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #ecf0f1;
    text-align: right;
    padding-right: 20px;
}

div .job-description h5 {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  font-weight: 800;
}

div .job-description h6 {
  font-family: "Roboto Slab", serif;
  font-size: 0.75;
  font-weight: 500;
}

div .job-description ul li {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1em;
}

div .knowledge-container {
  padding-top: 15px;
}

#knowledge {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.9em;
  text-align: left;
}

/* footer */

div .footer {
  border-top: 1px solid #424949;
  padding-top: 20px;
  padding-bottom: 20px;
}

div .footer-bottom {
  padding-top: 10px;
}

div h5 a {
  color: #424949;
  text-decoration: none;
}

div h6 a {
  color: #424949;
  text-decoration: none;
}

div .linkedIn a {
  color: #424949;
  text-decoration: none;
}
